.Container {
  width: 320px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 100vh;
  background-color: #fff;
  border-radius: 6px;
}

@media screen and (min-width: 480px) {
  .Container {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .Container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: auto;
  }
}

@media screen and (min-width: 1170px) {
  .Container {
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
