/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/

  --body-bgc: #f28ab2;
  --font-default: #383838;
  --font-dimmed: #777777;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--body-bgc);
  color: var(--font-default);
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
